<!doctype html>
<html>
    <head>
        <title>Coursera</title>
        <style>
                h1 {	
                    text-align: center;
                    font-size: 30px;
                }
                p#head {
                    text-align: center;
                    font-weight: bold;
                    font-size: 30px;
                    margin: 0px;
                    padding: 10px;
                }
                p#substract {
                    float: left;
                    width: 100px;
                    height: 250px;
                    border-right: 1px solid black;
                    margin: 0px;
                    padding: 10px;
                    margin-right: 10px;
                }
            </style>
    </head>

    <body>
        <h1 align="center">
            {% block title %}
                
            {% endblock %}
        </h1>
        <hr>
        <ul align="center">
        <table>
            <tr>
                <td>文學院</td>
                <td>社科與管理學院</td>
                <td>理學院</td>
                <td>工程學院</td>
                <td>電資學院</td>
                <td>醫學院</td>
                <td>Specialization</td>
            </tr>
            <tr>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in courseList1 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in courseList2 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in courseList3 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in courseList4 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in courseList5 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in courseList6 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select style="width:150px" onchange="location.href=this.options[this.selectedIndex].value">
                    <option disabled selected value>select</option>
                    {% for course in specializationList2 %}
                        <option value="http://140.112.107.157/registerCourse/{{course.id}}">{{course.課程名稱}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        </ul>
        <div>
            <p id="substract">
                {% block button %}
                 
                {% endblock %}
            </p>
            <p id="head">
                {% block type %}

                {% endblock %}
            </p>
            <table align="center">
                <tr align="center">
                    {% block tabletitle %}
                        
                    {% endblock %}
                </tr>
                <tr align="center">
                    {% block table %}

                    {% endblock %}
                </tr>
                <tr>
                    {% block item %}

                    {% endblock %}    
                </tr>
            </table>
        </div>       
    </body>
</html>