{% extends 'base.html' %}
{% block title %} 
    {{course_name}}
{% endblock %}
{% block button %}
    <input type="button" value="註冊人數" onclick=""><br>
    <input type="button" value="影片評分" onclick="">
    <input type="button" value="作業完成率" onclick="">
{% endblock %}
{% block tabletitle %}
    <td>測驗次數</td>
    <td>通過次數</td>
    <td>平均通過率</td>
{% endblock %}
{% block table %}
    <td>{{test}}</td>
    <td>{{total_pass}}</td>
    <td>{{average_pass}}</td>
{% endblock %}
{% block item %}
    <input type="button" value="課程詳細資訊" onclick="location.href='http://127.0.0.1:8000/gabr_passrate_item'">
{% endblock %}