{% extends 'base.html' %}
{% block title %} 
    {{course_name}}
{% endblock %}
{% block button %}
    <input type="button" value="註冊人數" onclick="location.href='/registerCourse/{{now_id}}/'"><br>
    <input type="button" value="影片評分" onclick="location.href='/ratingCourse/{{now_id}}/'">
    <input type="button" value="作業完成率" onclick="location.href='/passrateCourse/{{now_id}}/'">
{% endblock %}
{% block tabletitle %}
    <td>週次</td>
                        <td>課程名稱</td>
                        <td>item名稱</td>
                        <td>item類型</td>
                        <td>Good次數</td>
                        <td>Bad次數</td>
{% endblock %}
{% block table %}
    <td><font size="3">
                            {% for week in week %}
                                {{week}}<br>
                            {% endfor %}
                        </font></td>
                        <td><font size="3">
                            {% for week_name in week_name %}
                                {{week_name}}<br>
                            {% endfor %}
                        </font></td>
                        <td><font size="3">
                            {% for item_name in item_name %}
                                {{item_name}}<br>
                            {% endfor %}
                        </font></td>
                        <td><font size="3">
                            {% for item_type in item_type %}
                                {{item_type}}<br>
                            {% endfor %}
                        </font></td>
                        <td><font size="3">
                            {% for good in good %}
                                {{good}}<br>
                            {% endfor %}
                        </font></td>
                        <td><font size="3">
                            {% for bad in bad %}
                                {{bad}}<br>
                            {% endfor %}
                        </font></td>
    </tr>   
{% endblock %}
{% block item %}
<input type ="button" onclick="history.back()" value="回上一頁"></input>
{% endblock %}