{% extends 'base.html' %}
{% block title %} 
    {{course_name}}
{% endblock %}
{% block button %}
    <input type="button" value="註冊人數" onclick="location.href='/registerCourse/{{now_id}}/'"><br>
    <input type="button" value="影片評分" onclick="location.href='/ratingCourse/{{now_id}}/'">
    <input type="button" value="作業完成率" onclick="location.href='/passrateCourse/{{now_id}}/'">
{% endblock %}
{% block type %} Rating {% endblock %}
{% block tabletitle %}
    <td>Good總次數</td>
    <td>Bad總次數</td>
    <td>評價次數</td>
    <td>平均分數</td>
{% endblock %}
{% block table %}
    <td>{{total_good}}</td>
    <td>{{total_bad}}</td>
    <td>{{total}}</td>
    <td>{{average_rating}}</td>
{% endblock %}
{% block item %}
    <input type="button" value="課程詳細資訊" onclick="location.href='/ratingItem/{{now_id}}/'">
{% endblock %}