{% extends 'base.html' %}
{% block title %} 
    {{course_name}}
{% end block %}
{% block button %}
    <input type="button" value="註冊人數" onclick=""><br>
    <input type="button" value="影片評分" onclick="">
    <input type="button" value="作業完成率" onclick="">
{% endblock %}
{% block tabletitle %}
    <td>Good總次數</td>
    <td>Bad總次數</td>
    <td>評價次數</td>
    <td>平均分數</td>
{% endblock %}
{% block table %}
    <td>{{total_good}}</td>
    <td>{{total_bad}}</td>
    <td>{{total}}</td>
    <td>{{average_rating}}</td>
{% endblock %}
{% block item %}
    <input type="button" value="課程詳細資訊" onclick="location.href='http://127.0.0.1:8000/gabr_passrate_item'">
{% endblock %}